ReWriteEngine On

RewriteRule ^signup?$ /corephp-aw01-project/signup.php [L]
RewriteRule ^login?$ /corephp-aw01-project/login.php [L]
RewriteRule ^admin/dashboard?$ /corephp-aw01-project/admin/dashboard.php [L]
RewriteRule ^admin/profile?$ /corephp-aw01-project/admin/profile.php [L]
RewriteRule ^admin/chat?$ /corephp-aw01-project/admin/chat.php [L]
RewriteRule ^admin/account?$ /corephp-aw01-project/admin/account.php [L]
RewriteRule ^admin/add_costumer?$ /corephp-aw01-project/admin/add_costumer.php [L]
RewriteRule ^admin/atm?$ /corephp-aw01-project/admin/atm.php [L]
RewriteRule ^admin/sps?$ /corephp-aw01-project/admin/sps.php [L]
RewriteRule ^admin/spsv1?$ /corephp-aw01-project/admin/spsv1.php [L]

RewriteRule ^branch_manager/dashboard?$ /corephp-aw01-project/branch_manager/dashboard.php [L]
RewriteRule ^branch_manager/profile?$ /corephp-aw01-project/branch_manager/profile.php [L]
RewriteRule ^branch_manager/chat?$ /corephp-aw01-project/branch_manager/chat.php [L]
RewriteRule ^branch_manager/account?$ /corephp-aw01-project/branch_manager/account.php [L]
RewriteRule ^branch_manager/add_costumer?$ /corephp-aw01-project/branch_manager/add_costumer.php [L]
RewriteRule ^branch_manager/atm?$ /corephp-aw01-project/branch_manager/atm.php [L]
RewriteRule ^branch_manager/sps?$ /corephp-aw01-project/branch_manager/sps.php [L]
RewriteRule ^branch_manager/spsv1?$ /corephp-aw01-project/branch_manager/spsv1.php [L]

RewriteRule ^staff/dashboard?$ /corephp-aw01-project/staff/dashboard.php [L]
RewriteRule ^staff/profile?$ /corephp-aw01-project/staff/profile.php [L]
RewriteRule ^staff/chat?$ /corephp-aw01-project/staff/chat.php [L]
RewriteRule ^staff/add_costumer?$ /corephp-aw01-project/staff/add_costumer.php [L]
RewriteRule ^staff/atm?$ /corephp-aw01-project/staff/atm.php [L]
RewriteRule ^staff/sps?$ /corephp-aw01-project/staff/sps.php [L]
RewriteRule ^staff/spsv1?$ /corephp-aw01-project/staff/spsv1.php [L]